<div class="visual-alpaca">
  <img
    *ngIf="
      selectedOptions.has(headers.BACKGROUND) &&
      selectedOptions.get(headers.BACKGROUND)!.id !== 0
    "
    [src]="selectedOptions.get(headers.BACKGROUND)!.imagePath"
    class="visual-alpaca__background"
  />
  <img
    *ngIf="
      selectedOptions.has(headers.NECK) &&
      selectedOptions.get(headers.NECK)!.id !== 0
    "
    [src]="selectedOptions.get(headers.NECK)!.imagePath"
    class="visual-alpaca__neck"
  />
  <img
    *ngIf="
      selectedOptions.has(headers.LEG) &&
      selectedOptions.get(headers.LEG)!.id !== 0
    "
    [src]="selectedOptions.get(headers.LEG)!.imagePath"
    class="visual-alpaca__leg"
  />
  <img
    *ngIf="
      selectedOptions.has(headers.EARS) &&
      selectedOptions.get(headers.EARS)!.id !== 0
    "
    [src]="selectedOptions.get(headers.EARS)!.imagePath"
    class="visual-alpaca__ears"
  />
  <img
    *ngIf="
      selectedOptions.has(headers.EYES) &&
      selectedOptions.get(headers.EYES)!.id !== 0
    "
    [src]="selectedOptions.get(headers.EYES)!.imagePath"
    class="visual-alpaca__eyes"
  />
  <img src="/assets/nose.png" class="visual-alpaca__nose" />
  <img
    *ngIf="
      selectedOptions.has(headers.MOUTH) &&
      selectedOptions.get(headers.MOUTH)!.id !== 0
    "
    [src]="selectedOptions.get(headers.MOUTH)!.imagePath"
    class="visual-alpaca__mouth"
  />
  <img
    *ngIf="
      selectedOptions.has(headers.ACCESORIES) &&
      selectedOptions.get(headers.ACCESORIES)!.id !== 0
    "
    [src]="selectedOptions.get(headers.ACCESORIES)!.imagePath"
    class="visual-alpaca__accessories"
  />
  <img
    *ngIf="
      selectedOptions.has(headers.HAIR) &&
      selectedOptions.get(headers.HAIR)!.id !== 0
    "
    [src]="selectedOptions.get(headers.HAIR)!.imagePath"
    class="visual-alpaca__hair"
  />
</div>
