<div class="visual-alpaca">
  <img src="/assets/backgrounds/blue50.png" class="visual-alpaca__background" />
  <img src="/assets/neck/bend-backward.png" class="visual-alpaca__neck" />
  <img src="/assets/leg/bubble-tea.png" class="visual-alpaca__leg" />
  <img src="/assets/ears/default.png" class="visual-alpaca__ears" />
  <img src="/assets/eyes/angry.png" class="visual-alpaca__eyes" />
  <img src="/assets/nose.png" class="visual-alpaca__nose" />
  <img src="/assets/mouth/astonished.png" class="visual-alpaca__mouth" />
  <img src="/assets/accessories/earings.png" class="visual-alpaca__accessories" />
  <img src="/assets/hair/bang.png" class="visual-alpaca__hair" />
</div>
