.visual-alpaca {
  width: 720px;
  height: 720px;
  position: relative;

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }

  &__neck {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }

  &__leg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }

  &__ears {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }

  &__eyes {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
  }

  &__nose {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
  }

  &__mouth {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
  }

  &__accessories {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
  }

  &__hair {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 6;
  }
}