.app {
  display: flex;
  width: 100%;
  flex-direction: row;

  &__actions {
    z-index: 10;
    position: fixed;
    width: 20px;
    left: 10px;
    top: 30px;

    &-button {
      margin-bottom: 20px;
      background-color: white;
      border: solid 5px white;
      border-radius: 100%;
      color: #999999;
      cursor: pointer;

      &:hover {
        color: #808080;
      }
    }
  }

  &__options {
    display: flex;
    flex-direction: column;
    flex-grow: 2;

    &-selector {
      min-width: 700px;
      overflow-x: auto;
    }

    &-element {
      margin-left: 20px;
      margin-right: 20px;
      margin-top: 20px;
    }
  }
}